<service name="gbp_git">
  <summary>Create a sources with from git repository</summary>
  <description>This service uses a git client to checkout or update from a given repository.</description>
  <parameter name="specFile">
    <description>specify the spec file path (when more then one spec file)</description>
  </parameter>
  <parameter name="url">
    <description>Checkout url</description>
  </parameter>
  <parameter name="revision">
    <description>specify a revision</description>
  </parameter>
  <parameter name="filename">
    <description>name of package - used together with version to determine tarball name</description>
  </parameter>
</service>

